@font-face {
  font-family: "notosans";
  font-style: normal;
  font-weight: 400;
  src: url("../font/notosansNormal.woff2") format("woff2"), url("../font/notosansNormal.woff") format("woff"), url("../font/notosansNormal.ttf") format("truetype");
}
@font-face {
  font-family: "notosans";
  font-style: medium;
  font-weight: 500;
  src: url("../font/notosansMedium.woff2") format("woff2"), url("../font/notosansMedium.woff") format("woff"), url("../font/notosansMedium.ttf") format("truetype");
}
@font-face {
  font-family: "notosans";
  font-style: bold;
  font-weight: 700;
  src: url("../font/notosansBold.woff2") format("woff2"), url("../font/notosansBold.woff") format("woff"), url("../font/notosansBold.ttf") format("truetype");
}
@font-face {
  font-family: "notosans";
  font-style: black;
  font-weight: 900;
  src: url("../font/notosansBlack.woff2") format("woff2"), url("../font/notosansBlack.woff") format("woff"), url("../font/notosansBlack.ttf") format("truetype");
}
@font-face {
  font-family: "zenkaku";
  font-style: regular;
  font-weight: 400;
  src: url("../font/zenkakuRegular.woff2") format("woff2"), url("../font/zenkakuRegular.woff") format("woff"), url("../font/zenkakuRegular.ttf") format("truetype");
}
@font-face {
  font-family: "zenkaku";
  font-style: medium;
  font-weight: 500;
  src: url("../font/zenkakuMedium.woff2") format("woff2"), url("../font/zenkakuMedium.woff") format("woff"), url("../font/zenkakuMedium.ttf") format("truetype");
}
@font-face {
  font-family: "zenkaku";
  font-style: bold;
  font-weight: 700;
  src: url("../font/zenkakuBold.woff2") format("woff2"), url("../font/zenkakuBold.woff") format("woff"), url("../font/zenkakuBold.ttf") format("truetype");
}
@font-face {
  font-family: "zenkaku";
  font-style: black;
  font-weight: 700;
  src: url("../font/zenkakuBlack.woff2") format("woff2"), url("../font/zenkakuBlack.woff") format("woff"), url("../font/zenkakuBlack.ttf") format("truetype");
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #663300;
  font-size: 1.6rem;
  font-family: "notosans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", "DIN Alternate", "Kozuka Mincho Pro", sans-serif;
  min-width: 350px;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  max-width: 640px;
}

img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

a:hover img {
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

li {
  list-style: none;
}

.l-header {
  width: 19.5rem;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  position: relative;
}
@media (max-width: 576px) {
  .l-header {
    width: max(15rem, 35vw);
  }
}
.l-header__content {
  padding: 3.2rem 2rem 1rem;
  display: block;
  width: 100%;
  height: auto;
}
@media (max-width: 576px) {
  .l-header__content {
    padding: 1rem;
  }
}
.l-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.l-footer {
  background-color: #ffffff;
}
.l-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
  gap: 3rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 576px) {
  .l-footer__content {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.l-footer__logo {
  height: auto;
}
.l-footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  width: 14rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.l-footer__nav ul li {
  text-align: left;
}
@media (max-width: 576px) {
  .l-footer__nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 30rem;
    gap: 2rem;
    margin-bottom: 0;
    font-size: 1.1rem;
  }
}
.l-footer small {
  background-color: #009933;
  font-weight: normal;
  font-size: 1.3rem;
  font-family: "DIN Alternate", "notosans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  color: #ffffff;
  text-align: center;
  height: 4rem;
  display: block;
  line-height: 4rem;
}

.c-inner {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 2rem;
}

.c-btn {
  display: block;
  width: 52rem;
  max-width: 52rem;
  height: 12rem;
  font-size: 3.6rem;
  color: #ffffff;
  background: #009933;
  padding: 1rem 2rem;
  border-radius: 6rem;
  -webkit-box-shadow: 0px 3px 6px gray;
          box-shadow: 0px 3px 6px gray;
  text-align: center;
  margin: 0 auto;
  letter-spacing: -0.05em;
  font-family: "DIN Alternate", "zenkaku", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: 900;
}
.c-btn:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 576px) {
  .c-btn {
    font-size: 6vw;
    height: 20vw;
    width: 86vw;
  }
}

.c-sectionTitle {
  margin: 0 auto;
  text-align: center;
}
.c-sectionTitle__en {
  font-size: 2.1rem;
  font-family: "DIN Alternate", "notosans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}
.c-sectionTitle__jp {
  font-size: 6rem;
  font-weight: 900;
  display: inline-block;
  border-top: 2px solid #663300;
  line-height: 1.25;
}
@media (max-width: 576px) {
  .c-sectionTitle__jp {
    font-size: max(4.6rem, 10vw);
  }
}

.p-fv {
  width: 100%;
  max-width: 64rem;
  position: absolute;
  top: 0;
  display: block;
}
.p-fv__height {
  margin-top: min(86rem, 124vw);
}

.p-cta {
  padding-top: 3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdf7ed), color-stop(20%, transparent));
  background: linear-gradient(#fdf7ed, transparent 20%);
}
.p-cta__bgBase {
  background: #ffffff;
}
.p-cta__bgYellow {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffcc), color-stop(20%, transparent));
  background: linear-gradient(#ffffcc, transparent 20%);
}
.p-cta__heading img {
  margin: 0 auto;
  width: 27rem;
  height: 5rem;
}
.p-cta__btn {
  margin: 2.4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-cta__btn::after {
  content: "";
  display: block;
  width: 3.4rem;
  height: 2.8rem;
  background: url("../../assets/img/btn-arrow.svg") center/contain no-repeat;
  margin-left: 2.4rem;
}
@media (max-width: 576px) {
  .p-cta__btn {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .p-cta__btn::after {
    margin-left: 0;
    width: 5.6vw;
  }
}
.p-cta__img img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.p-cta__img__short img {
  height: 15rem;
}
.p-cta__pt {
  padding-top: 8rem;
}

.p-campaign {
  background-color: #fdf7ed;
  padding-bottom: 0.5rem;
}
.p-campaign__title {
  width: 28rem;
  text-align: center;
  margin: 0 auto;
  padding-top: 4rem;
  font-size: 2.4rem;
}
.p-campaign__titleJp {
  border-bottom: 2px solid #663300;
  font-weight: 900;
  font-family: "DIN Alternate", "zenkaku", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
.p-campaign__titleEn {
  text-transform: uppercase;
  font-family: "DIN Alternate", "notosans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.1;
}
.p-campaign__heading {
  margin: 2.8rem auto 0;
  color: #ffffff;
  font-size: 3.6rem;
  max-width: 46.6rem;
  height: 11rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: -0.1em;
  background: url("../../assets/img/campaign-heading-bg@2x-8.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 576px) {
  .p-campaign__heading {
    font-size: 6vw;
  }
}
.p-campaign__catch {
  margin: 2.8rem auto 0;
  max-width: 46.6rem;
  height: 6rem;
}
.p-campaign__content {
  margin-top: 3.6rem;
  letter-spacing: -0.03em;
  line-height: 1.36;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
@media (max-width: 576px) {
  .p-campaign__content {
    font-size: 5vw;
  }
}
.p-campaign__chart {
  margin: 2.3rem auto 0;
}
.p-campaign__note {
  font-size: 1.6rem;
  margin-top: 2.3rem;
  color: #231815;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.03em;
  text-align: left;
}
.p-campaign__note :last-child {
  margin-top: 2.4rem;
}
@media (max-width: 576px) {
  .p-campaign__note {
    font-size: 1.1rem;
  }
}
.p-campaign__list {
  margin: 2.6rem auto 3.5rem;
}
.p-campaign__listItem {
  margin: 0 auto;
  width: 84%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.p-campaign__listItem img {
  width: 100%;
}
@media (max-width: 576px) {
  .p-campaign__listItem {
    width: 100%;
  }
}

.p-reason {
  padding: 5rem 0;
  margin: 0 auto;
  background: #ffffcc;
}
.p-reason .c-inner {
  padding: 0;
}
.p-reason__wrapper {
  padding: 0 2rem;
}
.p-reason__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}
.p-reason__listCol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
  margin-top: 1.8rem;
}
.p-reason__listCol li {
  max-width: 29rem;
}
.p-reason__note {
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: bold;
}
@media (max-width: 576px) {
  .p-reason__note {
    font-size: 1.1rem;
  }
}

.p-lineup {
  background-color: #fdf7ed;
  padding: 3rem 0 4.4rem;
}
@media (max-width: 576px) {
  .p-lineup .c-inner {
    padding: 0 1rem;
  }
}
.p-lineup__gridWrapper {
  margin-top: 4.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1.3rem;
}
.p-lineup__gridItem {
  position: relative;
}
.p-lineup__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.7));
}
.p-lineup__name {
  font-size: 2.1rem;
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 0 0.5rem 0.5rem;
  line-height: 1.1;
  letter-spacing: 0.01em;
}
@media (max-width: 576px) {
  .p-lineup__name {
    font-size: 3.6vw;
  }
}

.p-voices {
  padding: 9rem 0 8.8rem;
  background: url("../../assets/img/voices-bg@2x-80.jpg") center/contain;
}
.p-voices__cardUnit {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}
.p-voices__card {
  padding: 2.3rem 1.6rem 2.3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
}
@media (max-width: 576px) {
  .p-voices__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.6rem;
    padding: 1.6rem;
  }
}
.p-voices__cardHeading {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border-left: 15px solid #663300;
  padding-left: 0.6rem;
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: -0.02em;
}
.p-voices__cardHeading p {
  height: 6.2rem;
}
.p-voices__cardtext {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 1.8rem;
  color: #2F3232;
  line-height: 1.33;
  letter-spacing: -0.05em;
}
.p-voices__content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.p-voices__imgWrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  margin: 0 auto;
}
.p-voices__img img {
  margin: 0 auto;
}

.p-compare {
  padding: 9.5rem 0 8.1rem;
  margin: 0 auto;
  background: #fdf7ed;
}
.p-compare__content {
  margin-top: 2.5rem;
}
@media (max-width: 576px) {
  .p-compare .c-inner {
    padding: 0 0.5rem;
  }
}

.p-shopping {
  padding: 8rem 0 7rem;
  background: #ffffcc;
}
.p-shopping__intro {
  margin-top: 1.4rem;
  text-align: center;
  font-weight: bold;
  font-size: 2.1rem;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
@media (max-width: 576px) {
  .p-shopping__intro {
    font-size: 1.7rem;
  }
}
.p-shopping__content {
  margin-top: 5.3rem;
}

.p-faq {
  padding: 6.6rem 0 6.8rem;
}
@media (max-width: 576px) {
  .p-faq .c-inner {
    padding: 0 1rem;
  }
}
.p-faq__title {
  text-align: center;
  margin-top: 5.6rem;
  font-size: 4.4rem;
  font-weight: 900;
  line-height: 1.1;
}
@media (max-width: 576px) {
  .p-faq__title {
    font-size: 8vw;
  }
}
.p-faq__accordion {
  margin-top: 5rem;
}
.p-faq__accordion dl {
  font-weight: 500;
}
.p-faq__accordion dl :first-child {
  margin-top: 0;
}
.p-faq__accordion dt {
  font-size: 2.1rem;
  font-weight: 500;
  min-height: 5.5rem;
  border: 0.75px solid #663300;
  border-radius: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin-top: 2.2rem;
  padding: 1.6rem 5.5rem 1.6rem 3rem;
  display: flex;
  position: relative;
}
@media (max-width: 576px) {
  .p-faq__accordion dt {
    font-size: 3.5vw;
    padding: 1rem 2.5rem 1rem 1rem;
    margin-top: 1.4rem;
  }
}
.p-faq__accordion dt ::after {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border-left: 2.5px solid #663300;
  border-bottom: 2.5px solid #663300;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: absolute;
  right: 2.4rem;
  top: 50%;
}
@media (max-width: 576px) {
  .p-faq__accordion dt ::after {
    right: 1rem;
    width: 1.2rem;
    height: 1.2rem;
  }
}
.p-faq__accordion dd {
  padding: 0 3.4rem;
  height: 0;
  line-height: 0;
  overflow: hidden;
  font-size: 1.8rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #663300;
  opacity: 0;
  border: 0.75px solid transparent;
  border-top: none;
  background: #fdf7ed;
}
@media (max-width: 576px) {
  .p-faq__accordion dd {
    padding: 0 1.6rem;
    font-size: max(1.2rem, 3vw);
  }
}
.p-faq__accordion dt.is-active span::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.p-faq__accordion dd.is-open {
  border: 0.75px solid #663300;
  border-top: none;
  line-height: 1.5;
  opacity: 1;
  padding: 3.4rem;
  height: auto;
}
@media (max-width: 576px) {
  .p-faq__accordion dd.is-open {
    padding: 1.6rem;
  }
}
.p-faq__number {
  font-family: "DIN Alternate", "notosans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: bold;
  margin-right: 2rem;
}
@media (max-width: 576px) {
  .p-faq__number {
    margin-right: 1rem;
  }
}

.p-contact {
  padding: 6.6rem 0 7.7rem;
  text-align: center;
}
.p-contact__text {
  font-size: 2.4rem;
  font-weight: bold;
}
@media (max-width: 576px) {
  .p-contact__text {
    font-size: 4vw;
  }
}
.p-contact__phone {
  font-size: 5.8rem;
  line-height: 1;
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "DIN Alternate", "notosans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
.p-contact__phone::before {
  content: "";
  display: block;
  width: 5.6rem;
  height: 5.6rem;
  background: url("../../assets/img/contact-phone.svg") center/contain no-repeat;
  margin-right: 1rem;
}
@media (max-width: 576px) {
  .p-contact__phone {
    font-size: max(4rem, 9.6vw);
  }
}
.p-contact__detail {
  font-size: 1.7rem;
  font-weight: bold;
  font-family: "Helvetica", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  margin-top: 0.5rem;
  line-height: 1.2;
}
@media (max-width: 576px) {
  .p-contact__detail {
    font-size: 4vw;
  }
}
.p-contact__btn {
  margin-top: 4rem;
  background: #ff9900;
}

/*--------------------------------------*
* foundation
*--------------------------------------*/
/*--------------------------------------*
* layout
*--------------------------------------*/
/*--------------------------------------*
* object
*--------------------------------------*/
/*-------------------
* component
-------------------*/
/*-------------------
* project
-------------------*/
/*-------------------
* Utility
-------------------*/
/*-------------------
* Program
-------------------*/
/*# sourceMappingURL=style.css.map */